@import "tailwindcss";
@import 'pixel-retroui/dist/index.css';
@import 'pixel-retroui/dist/fonts.css';

:root {
  --background: #2d2d2d;
  --foreground: #f0f0f0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Minecraft', Arial, Helvetica, sans-serif;
}