:root {
    --radius: 0.5rem;
    --background: #fff;
    --foreground: #000;
    --card: #fff;
    --card-foreground: #000;
    --primary: #ffdb33;
    --primary-hover: #ffcc00;
    --primary-foreground: #000;
    --secondary: #000;
    --secondary-hover: #333333;
    --secondary-foreground: #fff;
    --muted: #cccccc;
    --muted-foreground: #5a5a5a;
    --accent: #fae583;
    --accent-foreground: #000;
    --destructive: #e63946;
    --destructive-foreground: #fff;
    --border: #000;
}

.dark {
    --background: #1a1a1a;
    --foreground: #f5f5f5;
    --card: #242424;
    --card-foreground: #f5f5f5;
    --primary: #ffdb33;
    --primary-hover: #ffcc00;
    --primary-foreground: #000;
    --secondary: #3a3a3a;
    --secondary-hover: #4a4a4a;
    --secondary-foreground: #f5f5f5;
    --muted: #3f3f46;
    --muted-foreground: #a0a0a0;
    --accent: #fae583;
    --accent-foreground: #000;
    --destructive: #e63946;
    --destructive-foreground: #fff;
    --border: #5c5c5c;
}