@layer base {
  :root {
    --background: 338.2 0% 100%;
    --foreground: 233.3 27.3% 12.9%;
    --card: 338.2 0% 100%;
    --card-foreground: 233.3 27.3% 12.9%;
    --popover: 338.2 0% 100%;
    --popover-foreground: 233.3 27.3% 12.9%;
    --primary: 229.3 109.3% 66.6%;
    --primary-foreground: 233.9 84.3% 4.9%;
    --secondary: 334.3 0% 90.9%;
    --secondary-foreground: 233.3 27.3% 42.9%;
    --muted: 334.3 0% 81.9%;
    --muted-foreground: 233.3 27.3% 42.9%;
    --accent: 334.3 0% 81.9%;
    --accent-foreground: 233.3 27.3% 32.9%;
    --destructive: 357.2 125.9% 71%;
    --destructive-foreground: 233.3 27.3% 12.9%;
    --border: 233.3 27.3% 42.9%;
    --input: 233.3 27.3% 42.9%;
    --ring: 229.3 109.3% 66.6%;
    --radius: 0.5rem;
    --chart-1: 229.3 109.3% 66.6%;
    --chart-2: 334.3 0% 90.9%;
    --chart-3: 334.3 0% 81.9%;
    --chart-4: 334.3 0% 91.9%;
    --chart-5: 229.3 109.3% 76.6%;
    
    --sidebar-background: 0 0% 97%;
    --sidebar-foreground: 233 27% 50%;
    --sidebar-primary: 229 100% 64%;
    --sidebar-primary-foreground: 233.9 84.3% 4.9%;
    --sidebar-accent: 0 0% 79%;
    --sidebar-accent-foreground: 233.3 27.3% 32.9%;
    --sidebar-border: 233 27% 40%;
    --sidebar-ring: 229 100% 64%;
  }

  .dark {
    --background: 338.2 10% 10%;
    --foreground: 233.3 37.3% 87.1%;
    --card: 338.2 10% 10%;
    --card-foreground: 233.3 37.3% 87.1%;
    --popover: 338.2 10% 10%;
    --popover-foreground: 233.3 37.3% 87.1%;
    --primary: 229.3 100% 33.400000000000006%;
    --primary-foreground: 233.9 94.3% 90%;
    --secondary: 334.3 10% 10%;
    --secondary-foreground: 233.3 37.3% 57.1%;
    --muted: 334.3 10% 18.099999999999994%;
    --muted-foreground: 233.3 37.3% 57.1%;
    --accent: 334.3 10% 18.099999999999994%;
    --accent-foreground: 233.3 37.3% 67.1%;
    --destructive: 357.2 100% 29%;
    --destructive-foreground: 233.3 37.3% 87.1%;
    --border: 233.3 37.3% 57.1%;
    --input: 233.3 37.3% 57.1%;
    --ring: 229.3 100% 33.400000000000006%;
    --radius: 0.5rem;
    --chart-1: 229.3 100% 36.599999999999994%;
    --chart-2: 334.3 10% 60%;
    --chart-3: 334.3 10% 51.900000000000006%;
    --chart-4: 334.3 10% 60%;
    --chart-5: 229.3 100% 46.599999999999994%;
    
    --sidebar-background: 338 10% 2%;
    --sidebar-foreground: 233 37% 62%;
    --sidebar-primary: 229 100% 50%;
    --sidebar-primary-foreground: 233.9 94.3% 90%;
    --sidebar-accent: 334 10% 10%;
    --sidebar-accent-foreground: 233.3 37.3% 67.1%;
    --sidebar-border: 233 37% 49%;
    --sidebar-ring: 229 100% 25%;
  }
}
